{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}

<head>
    <style>
        .bgLanding {
            background-image: url("https://img.freepik.com/free-photo/white-flower-with-cooking-ingredients-table_181624-1096.jpg?w=1800&t=st=1681995026~exp=1681995626~hmac=73c3fd7da52c55878eb9989e96ff26655d248172b0f8fbf5803a0a9d07e5ec62");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
    </style>
    <title>Home</title>
</head>
<main>
    <section id="home" class="overflow-hidden">
        <div class="relative overflow-hidden w-full h-screen bgLanding">


            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed js-show-on-scroll"
                style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="flex justify-center items-center h-full">
                    <div class="text-center text-white px-8 md:px-12 lg:w-1/2 md:w-2/3 sm:w-2/3 xs:w-2/3">
                        <h1 class="md:text-4xl text-3xl font-bold tracking-tight mb-12">
                            Lorem
                            <!-- OLDIES <br /><span>for your business</span> -->
                        </h1>
                        <p class="xl:text-xl md:text-base sm:text-sm xs:text-xs font-medium tracking-tight mb-12">
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta fugiat commodi labore
                            minus
                            cupiditate, aut quod rem blanditiis corrupti quam nisi deserunt molestias vitae! Modi
                            dolore
                            nisi mollitia itaque ratione!
                        </p>
                        <a class="inline-block px-7 py-3 mr-1.5 border-2 border-white text-white font-medium text-sm leading-snug uppercase rounded-full shadow-md hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out"
                            data-mdb-ripple="true" data-mdb-ripple-color="light" role="button">Contact</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-white">
        <div class="flex justify-center h-full w-full items-center">
            <div class="flex flex-col justify-center  items-center text-black p-10">
                <h1 class="text-2xl">
                    Lorem ipsum
                </h1>
                <div class="text-base  w-1/2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime harum enim optio sunt
                    reprehenderit est non ex, praesentium repellat similique natus doloremque, cupiditate nemo odit
                    dolorem dignissimos aliquam ipsum possimus?
                </div>
            </div>
        </div>

        <div class="flex items-center justify-center w-full h-full py-24 sm:py-8 px-4 ">
            <div class="w-full relative flex items-center justify-center">
                <button aria-label="slide backward"
                    class="absolute z-30 left-0 ml-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400 cursor-pointer"
                    id="prev">
                    <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M7 1L1 7L7 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
                <div class="w-full h-full mx-auto overflow-x-hidden overflow-y-hidden">
                    <div id="slider"
                        class="h-full flex lg:gap-8 md:gap-6 gap-14 items-center justify-start transition ease-out duration-700">
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 1</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/fDngH9G/carosel-1.png" alt="black chair and white table"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/DWrGxX6/carosel-2.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/tCfVky2/carosel-3.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                        <div class="flex flex-shrink-0 relative w-full sm:w-auto">
                            <img src="https://i.ibb.co/rFsGfr5/carosel-4.png" alt="sitting area"
                                class="object-cover object-center w-full" />
                            <div class="bg-gray-800 bg-opacity-30 absolute w-full h-full p-6">
                                <h2 class="lg:text-xl leading-4 text-base lg:leading-5 text-white dark:text-gray-900">
                                    Catalog 2</h2>
                                <div class="flex h-full items-end pb-6">
                                    <h3
                                        class="text-xl lg:text-2xl font-semibold leading-5 lg:leading-6 text-white dark:text-gray-900">
                                        Minimal Interior</h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button aria-label="slide forward"
                    class="absolute z-30 right-0 mr-10 focus:outline-none focus:bg-gray-400 focus:ring-2 focus:ring-offset-2 focus:ring-gray-400"
                    id="next">
                    <svg class="dark:text-gray-900" width="8" height="14" viewBox="0 0 8 14" fill="none"
                        xmlns="http://www.w3.org/2000/svg">
                        <path d="M1 1L7 7L1 13" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                            stroke-linejoin="round" />
                    </svg>
                </button>
            </div>
        </div>
    </section>
    <section>
        <div class="flex flex-col justify-center h-full w-full items-center">
            <div class="flex flex-col justify-center  items-center text-black p-10">
                <h1 class="text-2xl">
                    Lorem ipsum
                </h1>
                <div class="text-base  w-1/2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime harum enim optio sunt
                    reprehenderit est non ex, praesentium repellat similique natus doloremque, cupiditate nemo odit
                    dolorem dignissimos aliquam ipsum possimus?
                </div>
            </div>
            <div class="flex items-center flex-wrap flex-col-reverse md:flex-row text-center mb-20 js-show-on-scroll">
                <div class="w-full md:w-1/2 md:p-8">
                    <h4 class="md:text-2xl text-lg font-bold mb-3">
                        Ensuring Quality and Transparency in Medical and Healthcare Provider
                        Selection
                    </h4>
                    <p class="mb-8 text-gray-500">
                        Oldies has an extensive screening procedure for service providers,
                        ensuring that they comply to strict standards of excellence and have
                        all the necessary certifications and accreditations. The platform
                        offers customer reviews, ratings, and testimonials to enhance
                        transparency, allowing potential travellers to gain insight into the
                        experiences of others and make more informed decisions by providing
                        detailed information on each provider's credentials, facilities, and
                        treatment options, while also fostering travellers’confidence
                    </p>
                </div>
                <!--image-->
                <div class="flex w-full md:w-1/2 mb-20 md:mb-0 justify-center">
                    <!-- <img
                    src="@/assets/images/mainconcept2.png"
                    class="rounded-lg"
                    alt="Monitoring"
                  /> -->
                    <video autoplay loop muted playsinline class="rounded-lg">
                        <source src="video/2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
            <div class="flex items-center flex-wrap flex-col-reverse md:flex-row text-center mb-20 js-show-on-scroll">
                <div class="w-full md:w-1/2 md:p-8">
                    <h4 class="md:text-2xl text-lg font-bold mb-3">
                        Ensuring Quality and Transparency in Medical and Healthcare Provider
                        Selection
                    </h4>
                    <p class="mb-8 text-gray-500">
                        Oldies has an extensive screening procedure for service providers,
                        ensuring that they comply to strict standards of excellence and have
                        all the necessary certifications and accreditations. The platform
                        offers customer reviews, ratings, and testimonials to enhance
                        transparency, allowing potential travellers to gain insight into the
                        experiences of others and make more informed decisions by providing
                        detailed information on each provider's credentials, facilities, and
                        treatment options, while also fostering travellers’confidence
                    </p>
                </div>
                <!--image-->
                <div class="flex w-full md:w-1/2 mb-20 md:mb-0 justify-center">
                    <!-- <img
                    src="@/assets/images/mainconcept2.png"
                    class="rounded-lg"
                    alt="Monitoring"
                  /> -->
                    <video autoplay loop muted playsinline class="rounded-lg">
                        <source src="video/2.mp4" type="video/mp4" />
                    </video>
                </div>
            </div>
        </div>

    </section>

    <section id="problem" class="w-full bg-white">
        <div class="flex justify-center js-show-on-scroll">
            <div class="flex-col justify-items-center text-center py-16 md:w-1/2 w-11/12">
                <h1 class="md:text-xl text-lg font-bold text-black mb-8">
                    THE PROBLEMS
                </h1>
                <p class="md:text-base text-ms text-gray-400 motion-safe:animate-fadeIn">
                    Skyrocketing healthcare costs globally have pushed individuals to
                    explore options beyond their home countries. However, navigating a sea
                    of diverse providers, differing quality standards, and fluctuating
                    prices creates a time consuming, stressful, and frustrating experience
                    for travellers. A groundbreaking solution is urgently needed to
                    simplify this process and transform the medical and healthcare journey
                </p>
            </div>
        </div>
        <!--ICON-->
        <div class="flex flex-wrap justify-around py-16 js-show-on-scroll">
            <div class="flex flex-col items-center">
                <div class="p-10 bg-[#486284] w-fit rounded-2xl mb-8 text-center">
                    <!--icon-->
                    <i class="bi bi-currency-dollar text-black"></i>
                </div>
                <div class="text-center text-black mb-4">
                    <h3 class="text-bold text-lg mb-4">High Costs</h3>
                    <p class="text-base text-gray-400">
                        High healthcare<br />
                        cost worldwide
                    </p>
                </div>
            </div>

            <div class="flex flex-col items-center">
                <div class="p-10 w-fit bg-[#486284] rounded-2xl mb-8 text-black text-center">
                    <i class="bi bi-hand-thumbs-up-fill"></i>
                </div>
                <div class="text-center text-black mb-4">
                    <h3 class="text-bold text-lg mb-4">No transparency</h3>
                    <p class="text-base text-gray-400">
                        Lack of transparency in <br />
                        finding reliable<br />
                        providers
                    </p>
                </div>
            </div>
            <div class="flex flex-col items-center">
                <div class="p-10 w-fit bg-[#486284] rounded-2xl mb-8 text-center">
                    <i class="bi bi-emoji-smile-fill text-white"></i>
                </div>
                <div class="text-center text-white mb-4">
                    <h3 class="text-bold text-black text-lg mb-4">Complicated</h3>
                    <p class="text-base text-gray-400">
                        Complexity in booking <br />
                        process
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="overflow-hidden">
        <div class="relative overflow-hidden background-city h-screen">
            <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden bg-fixed js-show-on-scroll"
                style="background-color: rgba(0, 0, 0, 0.3)">
                <div class="flex justify-center items-center h-full">
                    <div class="text-center text-white px-8 md:px-12 lg:w-1/2 md:w-2/3 sm:w-2/3 xs:w-2/3">
                        <h1 class="md:text-4xl text-3xl font-bold tracking-tight mb-12">
                            Coming soon
                            <!-- OLDIES <br /><span>for your business</span> -->
                        </h1>
                        <p class="xl:text-xl md:text-base sm:text-sm xs:text-xs font-medium tracking-tight mb-12">
                            We connect you with premier medical and healthcare facilities in
                            Thailand. Discover, compare, and book seamlessly and confidently.
                            Stay tuned for our launch and join our mission to revolutionize
                            your medical and healthcare experience!
                        </p>
                    </div>
                </div>
            </div>
        </div>

</main>

<script>

    let defaultTransform = 0;
    function goNext() {
        defaultTransform = defaultTransform - 398;
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) >= slider.scrollWidth / 1.7) defaultTransform = 0;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    next.addEventListener("click", goNext);
    function goPrev() {
        var slider = document.getElementById("slider");
        if (Math.abs(defaultTransform) === 0) defaultTransform = 0;
        else defaultTransform = defaultTransform + 398;
        slider.style.transform = "translateX(" + defaultTransform + "px)";
    }
    prev.addEventListener("click", goPrev);

</script>
{% endblock content %}